name: Keep Streamlit app awake

on:
  schedule:
    # every 20 minutes
    - cron: "*/20 * * * *"
  workflow_dispatch: {}  # allow manual run

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Streamlit app
        run: |
          curl -L --silent --show-error https://bigmacindexlfc.streamlit.app > /dev/null
